* {
    margin: 0;
    padding: 0;
}


header,
footer {
    width: 100%;
    height: 120px;
<<<<<<< HEAD
    background-color: blue;
=======
    background-color: blue ;
>>>>>>> 03d3e9cc91c883cb12ae41594ef1cf4efd3fe0a7
    color: white;
}


h1,
h2 {
    text-align: center;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;

}
ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
<<<<<<< HEAD
=======
  }
  .card {
    width: 80%;
  margin: 40px auto;
  border: 5px solid gray;
  box-shadow: 5px 10px #888888;
>>>>>>> 03d3e9cc91c883cb12ae41594ef1cf4efd3fe0a7
  }